/yolo-object-detection/*.pyc
/yolo-object-detection/__pycache__
/yolo-object-detection/yolo-coco/*.weights

/real-time-object-detection/*.pyc
/real-time-object-detection/__pycache__
/real-time-object-detection/*.caffemodel